mistralai
torch
torchvision
plyfile
tqdm
numpy
langchain
shapely
scipy
numba
langgraph
spacy
matplotlib
pandas
open_clip_torch
transformers>=4.57.0
accelerate
opencv-python
imageio
langchain-mistralai